.login {
    position: relative;
    z-index: 1000;
}
.cincin {
    position: relative;
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cincin i {
    position: absolute;
    inset: 0;
    border: 2px solid #ffffff;
    transition: transform 0.5s ease;
}
.cincin i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: rotate 9s linear infinite;
}
.cincin i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: rotate 7s linear infinite;
}
.cincin i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: rotate-back 5s linear infinite;
}
.cincin i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes rotate-back {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
}
